.index-section {
  background-color: #333;
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

#main h1 {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 43px;
  margin-bottom: 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 2px; }
#main .section#one h1, #main .section#one p, #main .section#one h2 {
  color: white; }
#main .section#one h1 {
  border-bottom: 3px solid white; }
#main .section#one span.num {
  color: #FFBC6D; }
#main h2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px; }
#main h3 {
  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 1rem;
  font-weight: 700; }
#main h4 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  margin-top: 1em; }
#main p {
  font-family: "Lato", sans-serif;
  color: #fff;
  margin-bottom: 0;
  margin-bottom: 2rem;
  font-size: 18px;
  letter-spacing: 0.5px; }
#main span {
  font-family: "Lato", sans-serif;
  color: #fff; }
#main span.num {
  font-family: "Oswald", sans-serif;
  font-size: 170px;
  font-weight: 900;
  color: #191919; }
#main a.logo-link {
  position: absolute;
  z-index: 4; }

.hidden {
  display: none; }

.visible-xl {
  display: none; }

.rotate-elem {
  transform: rotate(180deg); }

.main-nav {
  position: absolute; }
  .main-nav img {
    height: 4rem;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 5px; }
  .main-nav .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: #333 transparent transparent;
    z-index: 4;
    position: absolute; }
  .main-nav button.open-mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4; }
  .main-nav .feather.feather-align-right {
    width: 40px;
    height: 40px;
    stroke-width: 1; }

.section {
  background-color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .section .container {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3; }
  .section .projects {
    display: flex; }
    .section .projects .project-img {
      background-size: contain;
      background-repeat: no-repeat;
      width: 130px;
      height: 135px;
      margin: 5px; }
  .section .placeholder-img {
    background-image: url("../images/sny.jpg");
    width: 270px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat; }
  .section .project-one {
    background-image: url("../images/studioblack.jpg"); }
  .section .project-two {
    background-image: url("../images/happy-puppy.jpg"); }
  .section .project-three {
    background-image: url("../images/divino.jpg"); }
  .section .project-four {
    background-image: url("../images/tracker.jpg"); }

#two .top-inner-cont {
  position: absolute;
  bottom: 65%; }

.top-inner-cont {
  position: absolute;
  bottom: 45%; }

#five .top-inner-cont {
  position: absolute;
  bottom: 10%; }

.section#two, .section#three, .section#four, .section#five {
  position: relative; }

.section#one {
  background-image: url("../images/bg.jpg");
  background-size: cover; }

.section#one .absolute-container {
  position: absolute;
  bottom: -75%; }

.section#two .relative-container {
  position: relative; }
  .section#two .relative-container svg {
    stroke-width: 2;
    position: absolute;
    top: 24%;
    left: 23%;
    color: white;
    width: 20px;
    height: 20px; }

.section#four .absolute-container {
  position: absolute;
  bottom: -75%; }

.section#three .absolute-container {
  position: absolute;
  bottom: -80%; }

.section#five .absolute-container {
  position: absolute;
  bottom: -45%; }

.circle-icon {
  background: #333;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 18px;
  position: absolute;
  -webkit-box-shadow: 2px 2px 2px 2px #191919;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 2px 2px #191919;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 2px 2px #191919;
  top: 30%;
  right: 0%; }

.icon-align-inner {
  max-width: 80%;
  margin-top: 10px; }

.icon-align-flexbox {
  display: flex;
  align-items: center;
  position: relative; }
  .icon-align-flexbox i {
    margin: 10px;
    padding: 10px;
    transition: margin 300ms; }

.business-card {
  background-color: #333;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-word; }
  .business-card h3 {
    color: #00B0A8 !important; }
  .business-card svg {
    color: #00B0A8;
    stroke-width: 1; }

@media (min-width: 576px) {
  .main-nav {
    background-color: green; }

  #main h1 {
    font-size: 55px; }
  #main h2 {
    font-size: 18px;
    letter-spacing: 5px; }
  #main p {
    font-size: 18px;
    margin-bottom: 1rem; }
  #main span.num {
    font-size: 200px; }

  .section#one .container, .section#two .container, .section#four .container, .section#five .container {
    position: relative; }

  .section .top-inner-cont {
    bottom: 30%; } }
@media (min-width: 768px) {
  .main-nav {
    background-color: red; }

  .section .top-inner-cont {
    bottom: 28%; } }
@media (min-width: 992px) {
  .main-nav {
    background-color: blue; }

  .section#one .absolute-container, .section#two .relative-container, .section#three .absolute-container, .section#four .absolute-container, .section#five .absolute-container {
    position: static !important;
    bottom: 0 !important;
    width: 100%; }

  .circle-icon {
    right: 0%; }

  .main-nav .triangle {
    border-width: 200px 200px 0 0; }

  .section#two {
    position: static; }

  .desktop-nav {
    display: block; }

  .mobile-sticky-nav {
    display: none; }

  .section span.num {
    word-break: break-all; }

  .section .container {
    flex-direction: row;
    position: initial;
    align-items: center;
    padding-right: 0;
    padding-left: 0; }

  #main h3 {
    font-size: 1.7rem; }

  .section .top-inner-cont {
    position: initial;
    padding: 80px; }

  #two .top-inner-cont {
    position: static; }

  #five .top-inner-cont {
    position: static; }

  .main-nav img {
    height: 5rem;
    top: 18px; }

  #main span.num {
    color: #ccc; }

  .business-card {
    width: 400px; }

  .section .placeholder-img {
    width: 400px; }

  .section .projects .project-img {
    width: 200px; }

  .hidden-xl {
    display: none; }

  .visible-xl {
    display: block; } }
@media (min-width: 1200px) {
  .main-nav {
    background-color: transparent; }

  .section .top-inner-cont {
    bottom: 35%; } }
.slide-nav {
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  opacity: 1;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .slide-nav button.close-mobile-nav {
    position: absolute;
    top: 10px;
    right: 0; }
  .slide-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
    padding-left: 15px; }
  .slide-nav li {
    padding: 20px 20px 20px 0px; }
  .slide-nav li a {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 35px; }
  .slide-nav li a span {
    color: #eee !important;
    font-family: "Oswald", sans-serif !important;
    font-size: 35px;
    font-weight: 900;
    margin: 5px; }
  .slide-nav li a:hover {
    color: #00B0A8; }
  .slide-nav .feather.feather-chevrons-right {
    width: 40px;
    height: 40px;
    stroke-width: 1; }

.desktop-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px; }
  .desktop-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px; }
  .desktop-nav li a {
    color: #191919;
    font-family: "Lato", sans-serif;
    padding: 0 20px;
    font-size: 18px; }
  .desktop-nav li a:hover {
    color: white;
    text-decoration: none; }

.next-section {
  position: fixed;
  bottom: 0;
  right: 0; }
  .next-section .feather.feather-arrow-down {
    height: 50px;
    width: auto;
    stroke-width: 1; }

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; }

button:hover,
button:focus {
  background: transparent; }

button:focus {
  outline: 1px solid transparent;
  outline-offset: -4px; }

button:active {
  transform: scale(0.99); }

.desktop-nav.test {
  background-color: #ccc;
  z-index: 5; }

.mobile-sticky-nav.stick {
  min-width: 100%;
  background-color: #00B0A8;
  /* width: 100%; */
  height: 80px;
  /* width: 100px; */
  position: fixed;
  z-index: 4; }

/*# sourceMappingURL=style.css.map */
