$header-font: 'Archivo Black', sans-serif;
$text: 'Lato', sans-serif;
$black: #383838;
$black-lt: rgba(56, 56, 56, 0.5);
$green: #27AE61;
$offwhite: #F8F8F8;
$white: #ffffff;
$grey: #8C8C8C;

// index.html
.index-section {
    background-color: #fff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}
// Styles begin here
#main {
    position: relative;
    h1 {
        font-family: $header-font;
        font-size: 30px;
        color: $black;
        border-bottom: 2px solid $green;
    }
    h2 {
        font-family: $text;
        font-size: 14px;
        letter-spacing: 5px;
        color: $green;
        margin-bottom: 2em;
    }
    h3 {
        font-family: $text;
        font-size: 15px;
        font-weight: 700;
        color: $black;
    }
    p {
        font-family: $text;
        color: $grey;
        font-size: 15px;
    }
}
header {
    position: absolute;
    width: 100%;
    .container {
        display: flex !important;
        align-items: center;
    }
    .logo-link {
        margin-right: auto;
    }
    .logo-link img {
        height: 70px;
    }
    .open-mobile-nav{
        margin-left: auto;
        color: $grey;
    }
    .btn-link:hover {
        color: $grey;
    }
    svg {
        width: 70px;
        height: 40px;
        stroke-width: 1;
    }
}
#intro {
    background-image: url('../images/dots-bg.png');
    background-size: contain;
    h1 {
        font-family: $header-font;
        font-size: 45px;
        color: $black;
        border-bottom: none;
    }
    span {
        color: $green;
    }
}
.desktop-nav {
    display: none;
}
.visible-xl {
    display: none;
}
.section {
    background-color: $offwhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .project-img {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        width: 100%;
        height: 100px;
        margin-bottom: 1.5em;
        box-shadow: 5px 5px 2px grey;
    }
    .project-img:hover {
        box-shadow:
                1px 1px $black,
                2px 2px $black,
                3px 3px $black;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    .sny-img {
        background: linear-gradient(to right, rgba(39, 174, 97, 0.9), rgba(39, 174, 97, 0.9)), url('../images/sny.jpg');
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out; 
    }
    .sny-img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .project-one {
        background: linear-gradient(to right, rgba(39, 174, 97, 0.9), rgba(39, 174, 97, 0.9)), url('../images/studioblack.jpg');
    }
    .project-two {
        background: linear-gradient(to right, rgba(39, 174, 97, 0.9), rgba(39, 174, 97, 0.9)), url('../images/happy-puppy.jpg');
    }
    .project-three {
        background: linear-gradient(to right, rgba(39, 174, 97, 0.9), rgba(39, 174, 97, 0.9)), url('../images/divino.jpg');
    }
    .project-four {
        background: linear-gradient(to right, rgba(39, 174, 97, 0.9), rgba(39, 174, 97, 0.9)), url('../images/tracker.jpg');
    }
}
.section.dark {
    background-color: $black;
    h1 {
        color: #fff !important;
    }
    h3 {
        font-family: $text;
        font-size: 20px;
        color: #d0d0d0 !important;
    }
}
.section#contact-section {
    svg {
        width: 20px;
        height: 20px;
        stroke-width: 2;
        color: $green;
    }
    i {
        color: $green;
    }
    h3 {
        font-size: 20px;
    }
}
.bottom-side-content {
    padding-top: 1em;
}
.section#process-section .bottom-side-content p  {
    font-size: 14px;
}

.mini-box, .big-box {
    text-align: center;
    color: $white;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
  }
  
  /* Top right text */
  .bottom-right {
    position: absolute;
    bottom: 20%;
    right: 10%;
  }
  .big-box .bottom-right {
    position: absolute;
    bottom: 5%;
    right: 10%;
  }

.desktop-nav.test {
    background-color: $offwhite;
    z-index: 5;
    position: fixed;
    right: 10px;
    border-radius: 50px;
    color: white;
    box-shadow: 2px 2px 1px $green;
}
.desktop-nav.test ul {
    border-bottom: 1px solid transparent;
    padding: 15px;
}

.slide-nav {
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s;
    height: 100vh;
    background-color: $black;
    width: 0;
    opacity: 1;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    overflow-x: hidden;
    ul {
        display: flex;
        flex-direction: column;
        color: $green;
    }
    li {
        padding: 10px
    }
    li a {
        font-family: $header-font;
        color: $grey;
        font-size: 25px;
    }
}
.open {
    transform: translateY(0) !important;
    width: 70%;
}
button.close-mobile-nav {
    margin-left: auto;
}
.close-mobile-nav svg {
    color: $white;
}
.mobile-sticky-nav.stick {
    min-width: 100%;
    background-color: #ccc;
    /* width: 100%; */
    height: 80px;
    /* width: 100px; */
    position: fixed;
    z-index: 4;
}
.desktop-nav {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $black-lt;
        padding-bottom: 15px;
    }
    li a {
        color: $black;
        font-family: $text;
        font-size: 14px;
        margin: 0 15px;
        font-weight: 700;
    }
    li a:hover {
        text-decoration: none;
        color: $grey;
    }
}
.fab {
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    margin: 10px;
    box-shadow: 2px 2px 1px grey;
}
.fab:hover {
        box-shadow: inset 0 0 0 5px $green;
}
.item {
    position: relative;
    display: flex;
    svg {
        color: $green;
    }
}
.item-description {
    padding-left: 15px;
}
footer {
    background-color: $black;
    color: $grey;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) { 
    .desktop-nav {
        display: block;
    }
    .mobile-sticky-nav {
        display: none;
    }
    .hidden-xl {
        display: none;
    }
    .visible-xl {
        display: block;
    }
    .bottom-side-content {
        padding-top: 0;
    }
    #main {
        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 16px;
            color: $green;
            margin-bottom: 2em;
        }
        h3 {
            font-family: $text;
            font-size: 17px;
        }
        p {
            font-size: 20px;
        }
    }
    #intro h1 {
        font-size: 75px;
    }
    .section#process-section .bottom-side-content p  {
        font-size: 16px;
    }
    .bottom-side-content {
        padding-top: 2em;
    }
    .section .project-img {
        width: 100%;
        height: 150px;
    }
    .section .sny-img {
        height: 300px;
    }
    .section#contact-section h3 {
        font-size: 30px;
    }
 }