$primary: #bfbfff;
$highlight: #ffffbf;
$black: #353535;
$grey: #f2f2f2;

.main-nav {
    background-color: $primary;
    img {
        height: 4.5rem;
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
    }
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 150px 0 0;
        border-color: #f2f2f2 transparent transparent transparent;
        position: relative;
    }
    button.open-mobile-nav {
        position: absolute;
        top: 10px;
        right: 0;
    }
    .feather.feather-align-center {
        width: 30px;
        height: 30px;
    }
    
}



#who {
    background-color: $primary;
}

section {
    background-color: #bfbfff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}