/**********************
 **GLOBAL
 **********************/
#main-container h1 {
     font-family: 'Nobile', sans-serif;
     font-weight: 700;
     font-size: 3rem;
     color: #000;
     transform: rotate(-90deg);
     position: relative;
     top: 50%;
}
#main-container h2 {
    font-family: 'Nobile', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
}
#main-container h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
    color: #000;
}
#main-container p {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     line-height: 25px;
     font-size: 0.9rem;
     color: #161515;
     letter-spacing: 0.22px;
}
#main-container span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
#main-container .content-container {
    max-width: 900px;
    margin-top: 50px;
}
#main-container .intro-para {
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
    color: #161515;
    letter-spacing: 0.22px;
}
.bottom-buffer {
    margin-bottom: 30px;
}
.top-buffer {
    margin-bottom: 30px;
}
.section img {
    width: 100%;
}
/**********************
 **NAV
 **********************/
#main-container .navbar a img {
    width: 50px;
    height: auto;
}
#main-container .main-navbar__list ul {
    text-align: center;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
#main-container .main-navbar__list a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
/**********************
 **POPUP
 **********************/
 section.popup {
    background-color: #fff;
    width: 98vw;
    height: 98vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border: 2px solid #ddd;
    display: none;
}
section.popup .close-popup {
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
}
/**********************
 **NEXT / BACK TO TOP
 **********************/
.next-section img {
    width: 50px;
    transform: rotate(90deg);
    float: right;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
/**********************
 **FOOTER
 **********************/
.footer img {
    width: 15px;
    margin-bottom: 4px;
}
.footer .container .col-xs {
    padding: 50px 0px;
}
/**********************
 **HOW SECTION
 **********************/
 #how img {
    width: 85px;
}
/**********************
 **WORK PROFESSIONAL SECTION
 **********************/
 #workPro img {
    width: 85%;
    height: 180px;
}
/**********************
 **WORK PRACTICE SECTION
 **********************/
 #workPractice img {
    width: 100%;
    height: 180px;
}
/**********************
 **END
 **********************/
 .parallel-header {
    max-width: 80px;
    background-color: #ddd;
}
/* prevents header from stacking on mobile */
.content-container .row.content-row {
    flex-wrap: nowrap;
} 




/* .content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.center-element {
    /* background-color: #86cccc; */
}
.section {
    /* position: relative; */
    height: 100vh;
}
/* .section.reset-position {
    position: static;
    min-height: auto;
}

.reset-position .content-container {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    margin: 100px 0 100px 0;
}
}  */





/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #main-container h1 {
        font-family: 'Nobile', sans-serif;
        font-weight: 700;
        font-size: 8rem;
        color: #000;
        transform: rotate(-90deg);
        position: relative;
        top: 50%;
   }
   #main-container h2 {
       font-family: 'Nobile', sans-serif;
       font-weight: 700;
       font-size: 1.7rem;
       color: #000;
   }
   #main-container h3 {
       font-family: 'Lato', sans-serif;
       font-weight: 900;
       font-size: 1.1rem;
       color: #000;
   }
   #main-container p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #161515;
        letter-spacing: 0.26px;
   }
   #main-container span {
       font-family: 'Lato', sans-serif;
       font-weight: 400;
       font-size: 1.1rem;
       color: #161515;
   }
   #main-container .content-container {
       max-width: 900px;
       margin-top: 50px;
   }
   #main-container .intro-para {
       font-size: 1.3rem;
       line-height: 35px;
       letter-spacing: 0.22px;
   } 
    .parallel-header {
        max-width: 150px;
        background-color: #ddd;
    }
    #main-container .intro-para {
        font-size: 1.3rem;
        line-height: 35px;
        letter-spacing: 0.22px;
    }

}


/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */