/**********************
 **GLOBAL
 **********************/
section#who {
    background-color: #6AAFD4;
}
section#what {
    background-color: #F0C627;
}
section#how {
    background-color: #86CCCC;
}
section#workPro {
    background-color: #FAC472;
}
section#workPractice {
    background-color: #C9EAD6;
}
section#workComm {
    background-color: #ffce53;
}
#main-container h1 {
    font-family: 'Nobile', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    color: rgba(255,255,255, 0.3);
    transform: rotate(-56deg);
    position: relative;
    z-index: 0;
}
#main-container h2 {
    font-family: 'Nobile', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    color: #000;
}
#main-container h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}
#main-container p {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     line-height: 25px;
     font-size: 1.1rem;
     color: #161515;
     letter-spacing: 0.22px;
}
#main-container span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
#main-container .content-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#main-container .intro-para {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    color: #161515;
    letter-spacing: 0.50px;
}
.bottom-buffer {
    margin-bottom: 30px;
}
.top-buffer {
    margin-bottom: 30px;
}
.padding-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section img {
    width: 350px;
}
.center-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/**********************
 **NAV
 **********************/
 #main-container .navbar {
     position: absolute;
     background-color: transparent;
     width: 100%;
     z-index: 100;
 }
#main-container .navbar a img {
    width: 65px;
    height: auto;
}
#main-container .main-navbar__list ul {
    text-align: center;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
#main-container .main-navbar__list a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #161515;
}
#main-container .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
/**********************
 **POPUP
 **********************/
 section.popup {
    background-color: #202121;
    width: 95vw;
    height: 95vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: none;
}
section.popup .close-popup {
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    color: #dcdcdc;
}
section.popup .container {
    height: 65vh;
}
section.popup h2, .popup p, .popup .fab {
    color: #dcdcdc !important;
}
section.popup h2 {
    letter-spacing: 1.25px;
    line-height: 40px;
}
/**********************
 **NEXT / BACK TO TOP
 **********************/
.next-section img {
    width: 65px;
    transform: rotate(90deg);
    float: right;
    position: fixed;
    bottom: 20px;
    right: 10px;
}
/**********************
 **SECTIONS
 **********************/
 #how img {
    width: 85px;
}
.how__icon {
    padding-bottom: 30px;
}
.who-intro {
    padding-bottom: 30px;
}
/**********************
 **FOOTER
 **********************/
.footer img {
    width: 15px;
    margin-bottom: 4px;
}
.footer .container .col-xs {
    padding: 50px 0px;
}
/**********************
 **MEDIA QUERIES
 **********************/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #main-container .content-container {
        max-width: 900px;
    }
    #main-container h1 {
        font-size: 6rem;
        color: #323232;
        position: relative;
        transform: rotate(-90deg);
        top: 50%;
   }
   #main-container h3 {
       font-size: 1.3rem;
   }
   #main-container p {
        font-size: 1.1rem;
        letter-spacing: 0.50px;
   }
   #main-container .intro-para {
    font-size: 1.3rem;
    line-height: 35px;
    letter-spacing: 0.50px;
   }
    .parallel-header {
        max-width: 150px;
    }
    .content-container .row.content-row {
        flex-wrap: nowrap;
    } 
    .section img {
        width: 200px;
    }
    #workComm img {
        width: 500px;
    }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section img {
        width: 250px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #main-container h1 {
        font-size: 8rem;
    }
    .section img {
        width: 300px;
    }
 }

