.main-navbar a img {
    width: 50px;
    height: auto;
}
.main-navbar__list ul {
    text-align: center;
    margin: 0 auto;
}
.parallel-elements h2 {
    font-size: 3rem;
    font-weight: 900;
    transform: rotate(-90deg);
    top: 50%;
    position: relative;
}
.parallel-elements h3 {
    font-size: 1.5rem;
    font-weight: 900;
    transform: rotate(-90deg);
    top: 50%;
    position: relative;
}
.parallel-elements {
    text-align: center;
    /* background-color: #ddd; */
    max-width: 50px;
}
.center-element {
    /* background-color: #86cccc; */
}
/* //edit here */
.section {
    position: relative;
    min-height: 100vh;
}
.section.reset-position {
    position: static;
    min-height: auto;
}
.section img {
    width: 150px;
}
#workPro img, #workPractice img, #workComm img  {
    width: 100%;
}
/* //edit here */
.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.reset-position .content-container {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    margin: 100px 0 100px 0;
}
.content-container .row.content-row {
    flex-wrap: nowrap;
}
.bottom-buffer{
    margin-bottom: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .parallel-elements {
        max-width: 150px;
    }
    .parallel-elements h2 {
        font-size: 6rem;
        font-weight: 900;
        transform: rotate(-90deg);
        top: 50%;
        position: relative;
    }
    .parallel-elements h3 {
        font-size: 2rem;
        font-weight: 900;
        transform: rotate(-90deg);
        top: 50%;
        position: relative;
    }
    .section {
        position: relative;
        min-height: 100vh;
    }
    .section.reset-position {
        position: relative;
        min-height: 100vh;
    }
    .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .reset-position .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }