.intro h1 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 7vw;
}
.intro p {
    font-family: 'Cutive', serif;
    letter-spacing: 9px;
}
.intro .lead {
    font-size: 1rem;
    text-transform: lowercase;
}
/*.intro span {
    position: absolute;
    bottom: 45px;
    width: 95%;
    display: inline-grid;
    left: 50%;
}*/
.intro ul {
    position: absolute;
    padding: 0;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro ul li {
    list-style-type: none;
}
.about .jumbotron {
    border: 1em solid #fff;
    border-radius: 0px;
    background-color: #333232 !important;
    color: white;
}
.about h2 {
    font-family: 'Work Sans', sans-serif;
}
.about p {
    font-family: 'Goudy Bookletter 1911', serif;
}
.about .img-container {
    text-align: left !important;
}
.about img {
    height: 300px;
    width: 300px;
}
.about ul li {
    list-style-type: none;
    display: inline-block;
}
.about ul {
    padding: 0;
}
.about .icon {
    font-size: 1.5em;
    margin-right: 5px;
}
.about a {
  color: white;
  text-decoration: none;
}
.about a:hover {
  color: white;
  text-decoration: none;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.icon-google:before {
    content: "\e902";
    font-size: 1.5em;
}
.icon-github-alt:before {
    content: "\e902";
    font-size: 1.5em;
}
.icon-linkedin2:before {
    content: "\e902";
    font-size: 1.5em;
}
@media (min-width: 768px) {
    .about .img-container {
        text-align: right !important;
    }
    .intro h1 {
        letter-spacing: 30px;
    }
    .intro p {
        letter-spacing: 20px;
    }
    .intro .lead {
        font-size: 1.25rem;
        text-transform: lowercase;
    }
    .about .jumbotron {
        height: 100vh !important;
    }
}

/*animation*/

@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  25% {
    width: 100%;
    height: 0;
    padding-top: 0;
    visibility: visible;
  }
  50% {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
  }
  75% {
    width: 100%;
    height: 0;
    padding-bottom: 0;
    visibility: visible;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.intro .jumbotron {
    height: 98vh !important;
    border-radius: 0px;
    background-color: white !important;
    color: #bbb;
    transition: color 4s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    border: 5px solid white;
}

.colorTrans {
  color: #333 !important;
  transition: color 4s ease-in-out !important;
}

.intro .jumbotron:after {
  content: "";
  position: absolute;
  bottom: -5px;
  padding-right: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  visibility: hidden;
}

.intro .jumbotron:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  border-top: 5px solid #333;
  border-left: 5px solid #333;
  visibility: hidden;
}

.intro .jumbotron:before {
  animation: topleft 3s ease-in-out forwards;
  animation-delay: 1s;
}

.intro .jumbotron:after {
  animation: bottomright 3s ease-in-out forwards;
  animation-delay: 1s;
}

/*override Bootstrap box-sizing */

.intro .jumbotron:before,
.intro .jumbotron:after {
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}


