.intro .jumbotron {
    border: 2em solid #333232;
    height: 100vh !important;
    border-radius: 0px;
    background-color: white !important;
}
.intro h1 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 30px;
    font-size: 5em;
}
.intro p {
    font-family: 'Cutive', serif;
    letter-spacing: 20px;
}
.about .jumbotron {
    border: 2em solid #fff;
    height: 100vh !important;
    border-radius: 0px;
    background-color: #333232 !important;
    color: white;
}
.about h2 {
    font-family: 'Work Sans', sans-serif;
}
.about p {
    font-family: 'Goudy Bookletter 1911', serif;
}