*{ font-family: 'Poiret One', cursive;}

body{ 
    background-color: white !important; 
}
ul.nav a:hover { 
    background-color: rgba(247,247,247, 0.8)!important; 
}
.navbar-custom .navbar-nav > li >a{    
    font-family: 'Nunito', sans-serif;
    color:  #888888 !important;
    font-size: 1em;
    letter-spacing: 4px;
    font-weight: 100;
}
.navbar-custom{
    background-color: white;
   transition: 0.5s all;
}
#intro-section{
    height: 100vh;
    background-size: cover;
    background-image: url(images/skyblue.png);
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hello-box{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    min-width: 60%;
    height: 25%;
    min-height: 27%;
    background-color: white;
    border-radius: 3px;
}
.hello-box > h2{
    font-family: 'Poiret One', cursive;
    color: #86dde9;
    font-weight: bold;
    font-size: 3em;
    min-width: 100% !important;
}
.hello-box > h2 > span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    min-width: 100% !important;
    color: #aee577;
}
.navbar-toggle{
    background-color: #aee577 !important;
}
.navbar-toggle > span{
    background-color: white !important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px !important;
    line-height: 20px;
    letter-spacing: 2px;
    color: #aee577 ;
}
.navbar-brand:hover {
    color: rgba(174,229,119, 0.6);
}
.main-btn-custom{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em !important;
    color: white!important;
    background-color: rgba(224, 96, 126, 0.8) !important;
    border: 2px #E0607E solid !important;
    margin-top: 3.5em !important;
}
.main-btn-custom:hover {
    background-color: #E0607E!important;
}
.about-box > p {
    font-size: 1.3em;
    letter-spacing: 1.5px;
    line-height: 2;
    color: #2c3e50;
}
.about-box > p > span {
    color: #3F729B;
    font-weight: 900;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none !important;
}
.social-roll-navbar:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg); 
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
}

footer > ul > li {
    display: inline-block;
    margin-left: 0.5em;
}
.cinch-img{
    height: 205px !important;
}
.css3-img{
    height: 225px !important;
}
.js-img{
    height: 185px !important;
}
.todo-img{
    height: 185px !important;
}
#skills, #about, #projects, #contact{  padding: 2em 3em; }

.logo-padding {
     margin-left: 4em;
     margin-top: 1em;
}
.btn{
    width: 200px;
}
.btn-custom{
    background-color: #86dde9;
    color: #fff;
    letter-spacing: 2px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) { 
    .logo-padding {
         margin-left: 2em;
         margin-top: 1em;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .hello-box{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        min-width: 61%;
        height: 25%;
        min-height: 35%;
        background-color: white;
        border-radius: 3px;
    }
    .hello-box > h2{
        font-size: 2.3em;
        min-width: 100% !important;
    }
    .hello-box > h2 > span {
        font-size: 1em;
        min-width: 100% !important;
    }
  }
















