body{
    background-color: #fff;
}

#custom-nav h1{
    color: #22194e;
    font-weight: bold; }

strong, h4{
    color: #22194e; }

.navbar {
    /*background-color:#545453;*/
}

#nav ul li {
    font-family: 'Lato', sans-serif;
    display: inline;
    margin: 0px 20px 0 0; 

}

#nav a {
    text-decoration: none;
    color: white; }

#footer {
    margin: 38px 0 0 0; }

#footer ul li {
    display: inline;
    margin: 0 10px 0 10px;
    margin-bottom: 130px; }

#footer a {
    text-decoration: none; }

#custom-footer {
    /*background-color: #59656F; }*/
}
.social-roll {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

.social-roll:hover {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg); }

@media (max-width: 1136px) {
    .column, .columns {margin:0;}
    .social-roll {margin-left: 35px;}
}

h6 {
    text-align: center;
    color: #FFF8F0;
    margin-left: -15px;
}