
/*facebook : #3b5998 */

/*github: #dd4b39*/

/*linkedin: #007bb6*/

/*instagram: #517fa4*/  

#sticky-social {
   left: 0;
   position: fixed;
   top: 10.5em;
}
#sticky-social a {
   color: #fff;
   display: block;
   height: 2.188em;
   font: 1em "Open Sans", sans-serif;
   line-height: 2.188em;
   position: relative;
   text-align: center;
   width: 2.188em;
}
#sticky-social a span {
   line-height: 2.188em;
   left: -2.3em;
   position: absolute;
   text-align:center;
}
#sticky-social a:hover span {
   /*left: 25%;*/
}
.intro .hola {
	margin-left: 13em;
}
.intro .top {
	margin-left: 15em;
}
.intro .middle {
	margin-left: 20em;
}
.intro .bottom {
	margin-left: 27em;
}
.intro {
	margin-top: 15em;
}