/*sky: #CAEBF2;
carbon: #A9A9A9;
watermelon: #FF3B3F;
neutral: #EFEFEF;*/
/*************************-PORTFOLIO PAGE CSS-************************/
body {
	/*background-image: url("images/fabric.png");*/
	background-color: #EFEFEF;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
}
nav {
	position: fixed;
	width: 100%;
	/*border: solid;*/
	margin-top: -15em;
	/*background-color: #EFEFEF;*/
	background-color: rgba(255, 80, 80, 0.8);
	z-index: 2;
}
nav ul {
	text-align: center;
}
li {
	display: inline;
	margin: 0em 5em;
}
li a {
	text-decoration: none;
	color: white;
	font-family: 'Poiret One', cursive;
}
li a:hover {
	color: black;
}
#bio h3 {
	width: 50em;
	margin-left: 6em; 
	font-size: 1.3em;
	margin-top: 2em;
	margin-bottom: 5em;
	font-family: 'Arapey', serif;
	color: grey;
	/*background-color: #A9A9A9;*/
	/*display: none;*/
}
.pro_one {
	float: right;
	margin-right: 30px;
	margin-top: 5em;
	/*margin-top: 350px;*/
}
.pro_two {
	float: left;
	margin-left: 30px;
	margin-top: 5em;
}
.pro_three {
	float: left;
	margin-left: 165px;
	margin-top: 5em;
	/*margin-top: 200px;*/
}
#home {
	/*background-color: blue;*/
	/*margin-left: 3em;*/
}
#projects {
	margin-left: 3em;
	/*margin-top: 26em;*/
	/*background-color: pink;*/
}
#projects h1 {
	font-family: 'Poiret One', cursive;
}
#projects figcaption {
	font-family: 'Arapey', serif;
}
#skills {
	margin-left: 3em;
	margin-top: 5em;
	/*background-color: red;*/
}
#skills h1 {
	font-family: 'Poiret One', cursive;
}
#skills h4 {
	font-family: 'Poiret One', cursive;
	float: right;
	margin-right: 1em;
}
#skills figcaption {
	font-family: 'Arapey', serif;
}
#contact {
	margin-left: 3em;
	margin-top: 9.5em;
	margin-bottom: 6em;
	/*background-color: green;*/
}
#contact h1 {
	font-family: 'Poiret One', cursive;
}
#contact figcaption {
	font-family: 'Arapey', serif;
}
footer {
	/*border: solid;*/
	margin-top: 3em;
	background-color: black;
	text-align: center;
	height: 10em;
	font-size: 0.7em;
	width: 100%;
} 
footer h1 {
	color: #A9A9A9;
	font-family: 'Poiret One', cursive;
    padding-top: 2.5em;
}
/****** Projects are floated so they need clearfix *****/
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
/*************************-FORM CSS-************************/
form {
	margin-left: 15em;
	margin-top: 4em;
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
}
.form_name {
}
.form_submit {
	background-color: white;
}
.form_reset {
	background-color: white;
}
/*************************-CSS BAR_GRAPH-************************/

.axis text {
	font-family: 'Poiret One', cursive;
	font-size: 16pt; 
}
.axis .label {
	font-size: 26pt;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.y.axis path, .y.axis line {
	stroke: none;
}


/*************************-CONTROLLING Z-INDEX-************************/
.hola, .top, .middle, .bottom {
	/*background-color: rgba(202, 235, 242, 0.7);*/
	position: absolute;
	z-index: 1;
	font-family: 'Poiret One', cursive;
}
.hola {
	margin: -10em 0em 0em 10em;
}
.top {
	margin: -10em 0em 0em 12.5em;
}
.middle {
	margin: -10em 0em 0em 21.7em;
}
.bottom {
	margin: -10em 0em 0em 34.8em;
}
.intro {
	margin-top: 15em;
}
h5 {
	font-size: 9em;
	font-weight: 100;
	z-index: -1;
	color: black;
	text-align: center;
	font-family: 'Cardo', serif;
	opacity: 0.7;
}
/*************************-SCROLL UP-************************/
 .scrollup {
	width: 100px;
	height: 100px;
	float: right;
	display: none;
	margin-right: 2em;
	background: url('./images/up_top.png');
 }

@media screen 
		and (device-width: 360px)
		and (device-height: 640px)
		and (-webkit-device-pixel-ratio: 3) {

	body {
	 	background-color: lightgrey;
	 	/*width: 360px;*/
	}
/*	.wrapper {
		width: 100%;
	}*/
	nav {
		position: fixed;
		padding-top: 2em;
	} 		
	nav ul {
	 	/*float: left;*/
	 	text-align: center;
	 	margin-left: -2em;
	 }	
	nav li {
		display: block;
		margin-top: 0.2em;
		font-size: 1.3em;
	} 	
	#sticky-social {
		display: none;
    }
    h5 {
    	font-size: 7.5em;
    }
   #bio h3 {
   	width: 25em;
   	margin-left: 2.2em;
   	font-size: 1.5em;
   	margin-top: 15em;
    }
   .intro {
   		margin-left: 19em;
    }
    .hola {
	margin: -9em 0em 0em -10em;
	}
	.top {
		margin: -7em 0em 0em -8em;
	}
	.middle {
		margin: -5em 0em 0em -7em;
		/*display: inline;*/
	}
	.bottom {
		margin: -1.5em 0em 0em -6em;
	}
   	#projects h1, #skills h1, #contact h1 {
	 	margin-left: 7.5em;
	 }
	.pro_one {
	 	margin-right: -21em;
	 }
/*	 .pro_one img, .pro_two img, .pro_three img {
	 	width: 750px;
	 	height: 450px;
	 }*/
	 .pro_one figcaption, .pro_two figcaption, .pro_three figcaption {
	 	font-size: 2em;
	 	width: 650px;
	 }
	.pro_two {
	 	margin-left: 0em;
	 }
	.pro_three {
	 	margin-left: 0em;
	 }
    .chart {
	 	margin-left: -14em;
	 	/*width: 0.5em;*/
	 }
	 form {
	 	margin-left: -1em;
	 }
	 .form_comment {
	 	width: 16.7em;
	 }
	 .scrollup {
	 	margin-right: -22em;
	 	float: right;
	 }
	 footer {
	 	width: 65em;
	 }
  } 

/*	 #bio h3 {
		width: 100%;*/
	/*	margin-left: 6em; 
		font-size: 1.3em;
		margin-top: 2em;
		margin-bottom: 5em;*/
		/*font-family: 'Arapey', serif;
		color: grey;*/
		/*background-color: #A9A9A9;*/
		/*display: none;*/
	/*}*/
 @media screen and (min-width: )(max-width: 414px) {}
 @media screen and (max-width: 414px) {}